.header {
  position: relative;
  background: url("../img/header/logo-text.svg") no-repeat 109px 22px;
  padding-top: 65px;

  @media(min-width: @tablet-width) {
    background: url("../img/header/logo-text.svg") no-repeat 102px 41px;
  }

  @media(min-width: @desktop-width) {
    background: url("../img/header/logo-text.svg") no-repeat 102px 41px;
    padding-top: 99px;
  }
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 20px;
}
