.nav {
  position: relative;
}

.nav__toggle {
  background: url("../img/header/nav-opened.svg") no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  display: block;
  top: -44px;
  right: 15px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

