.button {
  font-family: "Oswald", sans-serif;
  display: block;
  box-sizing: border-box;
  color: @basic-white;
  background-color: @basic-green;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button--program {
  padding: 11px;
  width: 280px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 16px;
    width: 244px;
    height: 54px;
    text-align: center;
    position: absolute;
    top: 295px;
    left: 120px;
  }

  @media (min-width: @desktop-width) {
    top: 348px;
    left: 189px;
  }
}

.products__card-button {
  grid-column: 1 / -1;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;

  @media (min-width: @tablet-width) {
    min-width: 250px;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    min-width: 169px;
  }

}

.products__card-button--show-more {
  width: 30px;
  height: 30px;
  background: @basic-white url("../img/catalog/button-show-more.svg") no-repeat center;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 40px;
  }
}

.products__card-button--show-all {
  padding: 10px;
  background: @basic-grey;
  color: @dark-grey;
  min-width: 280px;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    min-width: 250px;
  }

  @media (min-width: @desktop-width) {
    min-width: 169px;
  }
}

.second-products__button {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-height: 40px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    grid-column: auto;
    width: 244px;
  }
}
