.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 11px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    position: relative;
    border-top: none;
  }
}

.card__link {
  padding-top: 20px;
  width: 140px;
  height: 107px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: unset;
    align-self: center;
    width: 200px;
    height: 210px;

    @media (min-width: @desktop-width) {
      width: 169px;
      height: 210px;
    }
  }
}

.card__link:hover {
  opacity: 0.8;
}

.card__link:focus {
  outline: none;
  opacity: 0.6;
}

.card__link:active {
  opacity: 0.3;
}

.card__img {
  width: 140px;
  height: 107px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.card__container {
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: @tablet-width) {
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    gap: 23px;
    padding-top: 13px;
    padding-right: 4px;
  }
}

.card__title {
  color: #222222;
  margin: 0;
  padding: 0;
  width: 80px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 140px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    align-self: center;
  }
}

.card__table {
  margin: 0;
  padding: 0;
}

.card__info {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-bottom: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 5px;
    padding-bottom: 7px;
  }
}

.card__description,
.card__value {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__value {
  text-align: right;
  margin: 0;
}

.card__button {
  grid-column: 1 / -1;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    grid-column: unset;
    min-width: 250px;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    min-width: 169px;
    margin-top: 29px;
  }
}

.card--show-more {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border-bottom: 0;
  }
}

.card__button--show-more {
  width: 30px;
  height: 30px;
  background: @basic-white url("../img/catalog/button-show-more.svg") no-repeat center;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 121px;
  }
}

.card__button--show-more:hover {
  opacity: 0.8;
}

.card__button--show-more:focus {
  outline: none;
  border: 2px solid #f2f2f2;
}

.card__button--show-more:active {
  opacity: 0.3;
}

.card__title--show-more {
  min-width: 204px;
  margin: 0;
  padding: 24px 0 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-width: 140px;
    padding: 50px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 40px 0 0;
  }
}

.card__text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 8px 0 20px;
  width: 220px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 172px;
    padding: 23px 0 82px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 0 90px;
  }
}

.card__button--show-all {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;
  background: @basic-grey;
  color: @dark-grey;
  width: 100%;

  @media (min-width: @tablet-width) {
    min-width: 250px;
  }

  @media (min-width: @desktop-width) {
    min-width: 169px;
  }
}

.card__button--show-all:hover {
  background-color: #e6e6e6;
}

.card__button--show-all:focus {
  background-color: #e6e6e6;
  outline: none;
}

.card__button--show-all:active {
  background-color: #e6e6e6;
  color: #4444444d;
}
