.benefits {
  margin: 0;
  padding: 0;
  min-height: 380px;

  @media (min-width: @tablet-width) {
    min-height: 740px;
  }

  @media (min-width: @desktop-width) {
    min-height: 450px;
  }
}

.benefits__heading {
  color: @basic-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.benefits__list {
  list-style: none;
}

.benefits__item {
  font-family: "Lato", sans-serif;
}

.benefits__item--nutrients {}
.benefits__item--cooking {}
.benefits__item--eating {}
.benefits__item--results {}
