.benefits {
  margin: 20px auto 0;
  padding: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    margin: 45px 29px 0 31px;
  }

  @media (min-width: @desktop-width) {
    margin: 56px 107px 69px 110px;
  }
}

.benefits__heading {
  color: @basic-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  width: 260px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 385px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 71px;
  }
}

.benefits__list {
  list-style: none;
  margin: 0;
  padding-top: 40px;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 32px;
    grid-template-columns: repeat(2, 249px);
    column-gap: 136px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 250px);
    gap: 75px;

  }
}

.benefits__item {
  font-family: "Lato", sans-serif;
  width: 200px;
  position: relative;
  right: -80px;
  top: 2px;

  @media (min-width: @tablet-width) {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    right: 1px;
    padding-top: 149px;
    padding-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
    right: 1px;
    padding-top: 149px;
    padding-bottom: 58px;
  }
}

.benefits__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: @basic-green no-repeat center;
  top: -1px;
  right: 220px;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: 37px;
    right: 170px;
  }

  @media (min-width: @desktop-width) {}
}

.benefits__item--nutrients {
  @media (min-width: @tablet-width) {
    background: url("../img/index/benefits/number-one.png") no-repeat 127px 38px;
  }
}

.benefits__item--nutrients::before {
  background-image: url("../img/index/benefits/icon-nutrients.svg");
}

.benefits__item--cooking {
  @media (min-width: @tablet-width) {
    background: url("../img/index/benefits/number-two.png") no-repeat 122px 36px;
  }
}

.benefits__item--cooking::before {
  background-image: url("../img/index/benefits/icon-cooking.svg");
}

.benefits__item--eating {
  @media (min-width: @tablet-width) {
    background: url("../img/index/benefits/number-three.png") no-repeat 124px 37px;
  }
}

.benefits__item--eating::before {
  background-image: url("../img/index/benefits/icon-eating.svg");
}

.benefits__item--results {
  @media (min-width: @tablet-width) {
    background: url("../img/index/benefits/number-four.png") no-repeat 123px 38px;;
  }
}

.benefits__item--results::before {
  background-image: url("../img/index/benefits/icon-results.svg");
}
