.example {
  margin: 0;
  padding: 0;
  background-color: @basic-grey;

  min-height: 660px;

  @media (min-width: @tablet-width) {
    min-height: 890px;
  }

  @media (min-width: @desktop-width) {
    min-height: 700px;
  }
}

.example__heading {
  color: @basic-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  list-style: none;
}

.example__number {
  color: @basic-black;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
}

.example__expenses {
  color: @basic-black;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__container {}
.example-slider {}
