.example {
  margin-top: 49px;
  padding: 0 20px;
  background-color: @basic-grey;
  min-height: 660px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 31px;
    min-height: 890px;

  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
    padding: 0 110px;
    min-height: 700px;
  }
}

.example__heading {
  color: @basic-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 41px;
    padding-left: 2px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 69px;
  }
}

.example__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 40px;
  margin: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding-top: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 450px;
  }
}

.example__list {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 32px;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
    grid-template-columns: repeat(2, 162px);
    gap: 42px;
  }

  @media (min-width: @desktop-width) {}
}

.example__container {

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 166px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    gap: 55px;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  @media (min-width: @tablet-width) {
    gap: 11px;
  }

  @media (min-width: @desktop-width) {}
}

.example__number {
  color: @basic-black;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {}
}

.example__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  margin: 0;
  width: 60px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
  }

  @media (min-width: @desktop-width) {}
}

.example__expenses {
  color: @basic-black;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  margin: 0;
  padding: 20px 40px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 175px;
    padding: 65px 0 0;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    text-align: start;
  }
}



.example__slider {}
