.programs {
  margin: 0;
  padding: 0;
}

.programs__list {
  list-style: none;
}

.programs-menu__item {
  background-color: @basic-grey;
}

.programs-menu__heading {
  color: @basic-black;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.programs-menu__text {
  font-family: "Lato", sans-serif;
}

.programs-menu__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
