.slider {
  width: 280px;
  height: 256px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 90px auto;
    width: 560px;
    height: 512px;
  }

  @media (min-width: @desktop-width) {
    margin: 25px auto;
    position: absolute;
    top: 0;
    right: 110px;
  }
}

.slider__block {
  list-style: none;
  width: 280px;
  height: 256px;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__item::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 256px;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__item--before {
  background: #eaeaea;
  border-right: 4px solid #666666;
  border-radius: 2px;
  transition: all 2s;
  overflow: hidden;
  width: 49%;
  z-index: 5;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, #ffffff, #ffffff 150px, #eaeaea 150px, #eaeaea 100%);
    width: 278px;
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, #ffffff, #ffffff 135px, #f2f2f2 135px, #f2f2f2 100%);
  }
}

.slider__item--before::before {
  background-image: url("../img/index/example/fat-cat-mobile.png");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/example/fat-cat-mobile@2x.png");
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/index/example/fat-cat-tablet.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/example/fat-cat-tablet@2x.png");
      background-size: cover;
    }
  }
}

.slider--state-before .slider__button {
  left: 100%;
}

.slider--state-after .slider__button {
  left: 0;
}

.slider--state-before .slider__item--before {
  width: 100%;
}

.slider--state-after .slider__item--before {
  width: 0;
}

.slider__item--after {
  z-index: 1;
}

.slider__item--after::before {
  background-image: url("../img/index/example/slim-cat-mobile.png");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/example/slim-cat-mobile@2x.png");
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/index/example/slim-cat-tablet.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/example/slim-cat-tablet@2x.png");
      background-size: cover;
    }
  }
}

.slider__button {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #666666;
  background-color: @basic-white;
  position: absolute;
  transition: all 2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 20px;
    top: 8px;
    left: 6px;
    mask-image: url("../img/stack.svg#thumb");
    background-color: #666666;
    mask-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    top: 41%;
  }
}

.slider__button:hover {
  border: 3px solid @basic-green;
}

.slider__button:focus {
  border: 3px solid @basic-green;
  outline: none;
}

.slider__button:active {
  border: 3px solid #666666;
}

.slider__button:hover::after {
  background-color: @basic-green;
}

.slider__button:focus::after {
  background-color: #5eaa2f;
}

.slider__button:active::after {
  background-color: #666666;
}

.slider__item--before:hover {
  border-right: 4px solid @basic-green;
}

.slider__item--before:focus {
  outline: none;
  border-right: 4px solid @basic-green;
}

.slider__item--before:active {
  border-right: 4px solid #666666;
}
