.group-info {
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    margin-top: 67px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.group-info__title {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-bottom: 75px;
    width: 768px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 8px;
    width: 100%;
  }
}

.group-info__list {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 68px 0 0px;
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    flex-wrap: nowrap;
    width: 1220px;
    margin: 0 auto;
  }
}

.group-info__item {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
  }
}

