.group-comments {
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    margin-top: 47px;
  }
}

.group-comments__title {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
    padding: 0 30px;
  }
}

  .group-comments__label {
    padding: 0;
  }
