.catalog {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }
}

.catalog__heading {
  margin: 0;
  padding: 27px 0 41px;
  color: @basic-black;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    padding: 75px 0 128px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 75px 0 85px;

  }
}

.catalog__list {
  list-style: none;
}
