.products {
  margin: 0;
  padding: 0;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 71px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1220px;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.products__item {
  margin: 0;
  padding: 0 20px 24px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding: 0 37px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 38px 40px;
  }
}

.products__item::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    background-color: @basic-grey;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    height: calc(100% - 80px);
    top: 80px;
  }
}

.products__item:last-child::before {
  @media (min-width: @tablet-width) {
    background-color: unset;
    border: 2px solid @basic-grey;
  }
}
