.developers {
  display: flex;
  align-items: center;
  gap: 138px;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    gap: 20px;

  }
}

.developers__link-name {
  margin: 0;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.developers__link-name:hover {
  outline: none;
}

.developers__link-name:active {
  opacity: 0.3;
}

.developers__link-logo {
  fill: #666666;
}

.developers__link-logo:hover {
  outline: none;
  fill: @basic-green;
}

.developers__link-logo:active {
  fill: @basic-green;
  opacity: 0.3;
}
