html {
  height: 100%;
}

body {
  background-color: @basic-white;
  color: @dark-grey;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: @basic-black;
}

ul {
  list-style: none;
}
