html {
  height: 100%;
}

body {
  background-color: @basic-white;
  color: @dark-grey;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: @basic-black;
}

ul {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

dt {
  color: @basic-black;
}

dd {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
